@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuisseBPIntl";
  src: url("/landing-page/src/fonts/SuisseBPIntl-Light.otf") format("opentype");
}

@font-face {
  font-family: "SofiaProLight";
  src: url("/landing-page/src/fonts/SofiaProLight.ttf") format("opentype");
}

@font-face {
  font-family: "SofiaProRegular";
  src: url("/landing-page/src/fonts/SofiaProRegular.ttf") format("opentype");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SofiaProRegular", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
